.App {
  font-family: Roboto;
  font-style: normal;
  .logo {
    position: absolute;
    left: 6.75%;
    // right: 90%;
    top: 7.81%;
    bottom: 85.77%;
  }
  .box {
    width: 50%;
    height: 100vh;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
  }
  .flex-column {
    display: flex;
    flex-direction: column;
  }
  .title {
    color: rgba(0, 0, 0, 0.85);
  }
  .title-todo {
    font-weight: 500;
    font-size: 33.1429px;
    line-height: 39px;
    margin: 5px;
    @media only screen and (max-width: 1280px) {
      font-size: 30px;
    }
  }
  .content {
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: rgba(0, 0, 0, 0.55);
  }
  .scrollUp,
  .scrollDown {
    font-size: 35px;
    color: rgba(0, 0, 0, 0.15);
  }
  .scrollDown {
    position: absolute;
    display: none;
    top: 105%;
    @media only screen and (max-width: 1023px) {
      display: inherit;
    }
  }
  .scrollUp {
    position: absolute;
    top: 92%;
    display: none;
    @media only screen and (max-width: 1023px) {
      display: inherit;
    }
  }
  .scrollUp:hover,
  .scrollDown:hover {
    width: 40px;
  }
}
